db/db.sqlite3
db/migrations/__pycache__/*
db/migrations/versions/**
!db/migrations/versions/**/
!db/migrations/versions/**/.gitkeep
./daily_report_web.pem
./app/setting.json
.python-version
./app/setting.json
./app/command/__pycache__
./app/__pycache__/*
./data/*
./data_real
*.sqlite
__pycache__
app/.main.py.swp
.vscode
__pycache__
memo
sample.py
test.py
*.sqlite
app/__pycache__/*