{% extends "base.html" %}

{% block base_head %}
{% block head %}{% endblock %}
{% endblock %}

{% block base_body %}
<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-2 border-bottom">
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li class="nav-item px-2">
        <a href="/home" class="d-inline-flex link-body-emphasis text-decoration-none">
          <img src="" id="account_logo" loading="lazy" alt="mdo" width="40" height="40" class="align-self-center">
        </a>
      </li>
      <li class="nav-item">
        <h2><span id="account_name"></span></h2>
      </li>
    </ul>

    <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/home?ver=1.0" class="nav-link px-2" id="nav-home">ホーム</a></li>
      <li><a href="/daily_report/top?ver=1.0" class="nav-link px-2" id="nav-report">日報</a></li>
      <li><a href="/daily_report/summary?ver=1.0" class="nav-link px-2" id="nav-report-summary">日報集計</a></li>
      <li><a href="/master/top?ver=1.0" class="nav-link px-2" id="nav-master">管理</a></li>
    </ul>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li class="nav-item">
        <div class="dropdown">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle me-4" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="/static/image/default_img.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">設定</a></li>
            <li><a class="dropdown-item" href="#">プロフィール</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/">サインアウト</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item align-self-center me-4" id="user-name"></li>
      <button id="btn_sign_out" type="button" class="btn btn-light text-dark me-2">サインアウト</button>
    </ul>
  </header>
</div>

<script>
  const account_uuid = cookie2json(document)['account_uuid'] ?? 0;

  callApi(
    `/account/${account_uuid}/account_logo`
  ).done(function (data) {
    // location.href = `/account/${account_uuid}/setting`;
    document.querySelector('#account_logo').setAttribute('src', data);
  })
  .fail(function (data) {
    // const reader = new FileReader();
    // reader.readAsDataURL(data.responseText);
    document.querySelector('#account_logo').setAttribute('src', data.responseText);
  });

  togglePageButton();
  $(document).ready(function () {
    $('#account_name')[0].innerText = cookie['account_name'];
    $('#user-name')[0].innerText = cookie['user_name'];
  });

  var btn_sign_out = document.getElementById('btn_sign_out');
  btn_sign_out.addEventListener('click', function () {
    sign_out();
  })

  function sign_out() {
    event.preventDefault();
    callApi(
      '/sign_out',
      {},
      'POST',
      headers,
    )
      .done(function (data) {
        document.cookie = "token=;";
        window.location.href = "/"
      })
      .fail(function (data) {
      });
  };
</script>
<div class="container-sm">
  {% block body %}{% endblock %}
</div>
{% endblock %}