{% extends "base.html" %}
{% block title %}日報管理{% endblock %}

{% block body %}

  <div class="container">
    <main>
      <div class="py-5 text-center">
        <h1>日報管理</h1>
      </div>

      <form class="needs-validation" novalidate>
        <div class="row g-5">

          <div class="col-8">
            <dl class="row">
              <dt class="col-sm-3"><h3 class="mb-3">工事情報</h3></dt>
              <dd class="col-sm-8">工事日と工事名を入力すると、登録済みの工事情報を呼び出します。いずれも必須入力です。</dd>
            </dl>
            
            <div class="row g-3">
              <div class="col-3">
                <label for="familyName" class="form-label">工事日</label>
                <input type="date" class="form-control" id="date" placeholder="" value="">
              </div>
              <div id="invalid-feedback-date" class="text-danger">
              </div>
            </div>

            <div class="row g-3">
              <div class="col">
                <label for="givenName" class="form-label">工事名</label>
                <div class="input-group">
                  <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    登録済リスト
                  </button>
                  <ul id="worksite_names" class="dropdown-menu dropdown-menu-dark">
                  </ul>
                  <input id="txt_worksite" type="text" class="form-control" aria-label="...">
                </div>
                <div id="invalid-feedback-worksite_name" class="text-danger">
                </div>
              </div>
            </div>

            <div class="row g-3">
              <dl class="row g-3">
                <dt class="col-sm-3"><h4 class="mb-3">工事サブ情報</h4></dt>
                <dd class="col-sm-8">入力は任意です。</dd>
              </dl>
            </div>
            
            <div class="row g-3">
              <div class="col">
                <label for="givenName" class="form-label">受注先</label>
                <div class="row">
                  <div class="input-group">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      登録済リスト
                    </button>
                    <ul id='customers' class="dropdown-menu dropdown-menu-dark">
                    </ul>
                    <input id='txt_customer' type="text" class="form-control" aria-label="...">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-primary">合計</span>
            </h4>
            <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">人員</h6>
                </div>
                <span class="text-muted" id="list_total_staff" onchange="culc_total()"></span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">廃材</h6>
                </div>
                <span class="text-muted" id="list_total_trash" onchange="culc_total()"></span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">重機</h6>
                </div>
                <span class="text-muted" id="list_total_machine" onchange="culc_total()"></span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">車両</h6>
                </div>
                <span class="text-muted" id="list_total_car" onchange="culc_total()"></span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">リース</h6>
                </div>
                <span class="text-muted" id="list_total_lease" onchange="culc_total()"></span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">回送</h6>
                </div>
                <span class="text-muted" id="list_total_transport" onchange="culc_total()"></span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">有価物</h6>
                </div>
                <span class="text-muted" id="list_total_valuable" onchange="culc_total()"></span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">その他</h6>
                </div>
                <span class="text-muted" id="list_total_other" onchange="culc_total()"></span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>合計 (円)</span>
                <strong id="total"></strong>
              </li>
            </ul>
          </div>
        </div>

        <hr class="my-4">
        <div class="table-responsive">
          <table class="table text-center">
            <thead>
              <tr>
                <th style="width: 34%;"><h4 class="mb-3">明細</h4></th>
              </tr>
            </thead>
          </table>
        </div>


        <div class="row">
          <!-- 人員 -->
          <div class="col-4">
            <form id="form-staff">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">人員</h4>
                </div>
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th style="width: 10%;"></th>
                        <th style="width: 60%;" class="text-center">名前</th>
                        <th style="width: 30%;" class="text-center">単価</th>
                      </tr>
                    </thead>
        
                    <tbody id="stafflist">
                    </tbody>
                  </table>
                </div>
                <div class="card-footer py-3">
                  <div class="row">
                    <h4 class="my-0 fw-normal">
                      <div class="row">
                        <div class="col">
                          小計
                        </div>
                        <div class="col text-end">
                          <span id="staff_total">0</span>人
                          <span id="staff_total_cost">0</span>
                        </div>
                      </div>
                    </h4>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <!-- 廃材 -->
          <div class="col">
            <form id="form-trash">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">廃材</h4>
                </div>
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th style="width: 20%;" class="text-center">処分場</th>
                        <th style="width: 20%;" class="text-center">品目</th>
                        <th style="width: 15%;" class="text-center">単価</th>
                        <th style="width: 15%;" class="text-center">単位</th>
                        <th style="width: 15%;" class="text-center">数量</th>
                        <th style="width: 15%;" class="text-center">小計</th>
                      </tr>
                    </thead>
        
                    <tbody id="trashlist">
                    </tbody>
                  </table>
                </div>
                <div class="card-footer py-3">
                  <h4 class="my-0 fw-normal">
                    <div class="row">
                      <div class="col">
                        小計
                      </div>
                      <div class="col text-end">
                        <span id="total_quant">0</span>個
                        <span name="total_cost">0円</span>
                      </div>
                    </div>
                  </h4>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <!-- 重機 -->
          <div class="col">
            <form id="form-machine">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">重機</h4>
                </div>
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th style="width: 40%;" class="text-center">名前</th>
                        <th style="width: 25%;" class="text-center">単価</th>
                        <th style="width: 20%;" class="text-center">数量</th>
                        <th style="width: 15%;" class="text-center">小計</th>
                      </tr>
                    </thead>
        
                    <tbody id="machinelist">
                    </tbody>
                  </table>
                </div>
                <div class="card-footer py-3">
                  <h4 class="my-0 fw-normal">
                    <div class="row">
                      <div class="col">
                        小計
                      </div>
                      <div class="col text-end">
                        <span name="total_quant">0</span>台
                        <span name="total_cost">0円</span>
                      </div>
                    </div>
                  </h4>
                </div>
              </div>
            </form>
          </div>
            
          <!-- リース -->
          <div class="col">
            <form id="form-lease">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">リース</h4>
                </div>
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th style="width: 40%;" class="text-center">名前</th>
                        <th style="width: 25%;" class="text-center">単価</th>
                        <th style="width: 20%;" class="text-center">数量</th>
                        <th style="width: 15%;" class="text-center">小計</th>
                      </tr>
                    </thead>
        
                    <tbody id="leaselist">
                    </tbody>
                  </table>
                </div>
                <div class="card-footer py-3">
                  <h4 class="my-0 fw-normal">
                    <div class="row">
                      <div class="col">
                        小計
                      </div>
                      <div class="col text-end">
                        <span name="total_quant">0</span>台
                        <span name="total_cost">0円</span>
                      </div>
                    </div>
                  </h4>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <!-- 車両 -->
          <div class="col">
            <form id="form-car">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">車両</h4>
                </div>
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th style="width: 45%;" class="text-center">名前</th>
                        <th style="width: 20%;" class="text-center">単価</th>
                        <th style="width: 15%;" class="text-center">数量</th>
                        <th style="width: 20%;" class="text-center">小計</th>
                      </tr>
                    </thead>
        
                    <tbody id="carlist">
                    </tbody>
                  </table>
                </div>
                <div class="card-footer py-3">
                  <h4 class="my-0 fw-normal">
                    <div class="row">
                      <div class="col">
                        小計
                      </div>
                      <div class="col text-end">
                        <span name="total_quant">0</span>台
                        <span name="total_cost">0円</span>
                      </div>
                    </div>
                  </h4>
                </div>
              </div>
            </form>
          </div>

          <!-- 回送 -->
          <div class="col">
            <form id="form-transport">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">回送</h4>
                </div>
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th style="width: 40%;" class="text-center">名前</th>
                        <th style="width: 25%;" class="text-center">単価</th>
                        <th style="width: 20%;" class="text-center">数量</th>
                        <th style="width: 15%;" class="text-center">小計</th>
                      </tr>
                    </thead>
        
                    <tbody id="transportlist">
                    </tbody>
                  </table>
                </div>
                <div class="card-footer py-3">
                  <h4 class="my-0 fw-normal">
                    <div class="row">
                      <div class="col">
                        小計
                      </div>
                      <div class="col text-end">
                        <span name="total_quant">0</span>回
                          <span name="total_cost">0円</span>
                      </div>
                    </div>
                  </h4>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <!-- 有価物 -->
          <div class="col">
            <form id="form-valuable">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">有価物</h4>
                </div>
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th style="width: 20%;" class="text-center">品目</th>
                        <th style="width: 20%;" class="text-center">単価</th>
                        <th style="width: 15%;" class="text-center">数量</th>
                        <th style="width: 15%;" class="text-center">小計</th>
                      </tr>
                    </thead>
        
                    <tbody id="valuablelist">
                    </tbody>
                  </table>
                </div>
                <div class="card-footer py-3">
                  <h4 class="my-0 fw-normal">
                    <div class="row">
                      <div class="col">
                        小計
                      </div>
                      <div class="col text-end">
                        <span name="total_quant">0</span>個
                        <span name="total_cost">0円</span>
                      </div>
                    </div>
                  </h4>
                </div>
              </div>
            </form>
          </div>

          <!-- その他 -->
          <div class="col">
            <form id="form-other">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">その他</h4>
                </div>
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th style="width: 40%;" class="text-center">名前</th>
                        <th style="width: 25%;" class="text-center">単価</th>
                        <th style="width: 20%;" class="text-center">数量</th>
                        <th style="width: 15%;" class="text-center">小計</th>
                      </tr>
                    </thead>
        
                    <tbody id="otherlist">
                    </tbody>
                  </table>
                </div>
                <div class="card-footer py-3">
                  <h4 class="my-0 fw-normal">
                    <div class="row">
                      <div class="col">
                        小計
                      </div>
                      <div class="col text-end">
                        <span name="total_quant">0</span>個
                        <span name="total_cost">0円</span>
                      </div>
                    </div>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </form>

        <button id="btn_reg" class="w-100 btn btn-primary btn-lg" type="submit" onclick="register();">登録</button>
      </form>
    </main>
  </div>

  <script>
    {% autoescape off %}
    cars = {{cars}}
    machines = {{machines}}
    leases = {{leases}}
    dests = {{dests}}
    items = {{items}}
    customers = {{customers}}
    worksite_names = {{worksite_names}}
    unit_type = {{unit_type}}
    {% endautoescape %}

    let map_master = {
      carlist: cars,
      machinelist: machines,
      leaselist: leases
    }

    let map_form = {
      "form-staff": "staff",
      "form-car": "car",
      "form-machine": "machine",
      "form-lease": "lease",
      "form-transport": "transport",
      "form-trash": "trash",
      "form-valuable": "valuable",
      "form-other": "other",
    }

    var mo = new MutationObserver(function() {
      calc_total();
    });
    var config = {
      childList: true
    };
    mo.observe($('#list_total_staff')[0], config);
    mo.observe($('#list_total_car')[0], config);
    mo.observe($('#list_total_machine')[0], config);
    mo.observe($('#list_total_lease')[0], config);
    mo.observe($('#list_total_trash')[0], config);
    mo.observe($('#list_total_transport')[0], config);
    mo.observe($('#list_total_valuable')[0], config);
    mo.observe($('#list_total_other')[0], config);

    $(document).ready( function(){
      set_staff_list();
      add_new_row(cars, $('#carlist'));
      add_new_row(machines, $('#machinelist'));
      add_new_row(leases, $('#leaselist'));
      add_new_row_trash();
      add_new_row_no_select($('#transportlist'))
      add_new_row_no_select($('#valuablelist'))
      add_new_row_no_select($('#otherlist'))

      html = ''
      worksite_names.forEach(w => {
        html += 
        `<li><button class="dropdown-item" type="button" onclick="enter_worksite(this)">${w}</button></li>`
      });
      $('#worksite_names')[0].innerHTML = html

      html = ''
      customers.forEach(w => {
        html += 
        `<li><button class="dropdown-item" type="button" onclick="enter_customer(this)">${w}</button></li>`
      });
      $('#customers')[0].innerHTML = html
    })

    function enter_worksite(e){
      $('#txt_worksite')[0].value = e.innerText
    }

    function enter_customer(e){
      $('#txt_customer')[0].value = e.innerText
    }

    function set_staff_list(){
      {% autoescape off %}
      staffs = {{staffs}}
      {% endautoescape %}
      html = ""
      staffs.forEach(staff => {
        html += 
        `<tr>
          <td><input type="checkbox" onchange="calc_staff_total(this)" class="form-check-input text-center" value="" id="formCheckDefault"></td>
          <td class="text-center">${staff['name']}</td>
          <td class="text-center">${staff['cost']}</td>
        </tr>`
      });

      $('#stafflist').html(html);

    }

    function int_to_currency(int_currency){
      return new Intl.NumberFormat().format(int_currency) + '円';
    }

    function currency_to_int(currency){
      currency = currency.replace('円', '')
      return Number(currency.replace(',', ''))
    }
    
    function re_calc(e){
      e.value = e.value.replace(/[０-９]/g, function(s) {
        return String.fromCharCode(s.charCodeAt(0) - 0xFEE0);
      });

      if (e.closest('form').id == 'form-trash'){
        // 行の合計再計算
        calc_row_total(e.parentElement.parentElement, e.parentElement.parentElement.parentElement, 2, 5, 4)
        // フォームの合計再計算
        calc_form_total(e.closest('form'), e.parentElement.parentElement.parentElement, 5)
      } else {
        // 行の合計再計算
        calc_row_total(e.parentElement.parentElement, e.parentElement.parentElement.parentElement, 1, 3, 2)
        // フォームの合計再計算
        calc_form_total(e.closest('form'), e.parentElement.parentElement.parentElement, 3, 2)
      }
    }

    function calc_row_total(row, table, col_cost, col_total, col_quant = -1){
      if (col_quant >= 0) {
        quant = Number(row.children[col_quant].children[0].value)
      } else {
        quant = 1
      }

      cost = Number(row.children[col_cost].children[0].value)

      row.children[col_total].innerText = cost*quant
    }

    function calc_form_total(form, table, col_total, col_quant = -1){
      quant = 0
      cost = 0
      Array.prototype.forEach.call(table.children, (row, i) => {
        if (col_quant >= 0){
          r_quant = Number(row.children[col_quant].children[0].value)
        } else {
          r_quant = 1
        }
        r_cost = Number(row.children[col_total].innerText)
        
        if (r_cost > 0){
          cost += r_cost
        }
        if (r_quant > 0){
          quant += r_quant
        }
      
        $(form).find('span[name="total_cost"]')[0].innerText = int_to_currency(cost);
        if (col_quant >= 0){
          $(form).find('span[name="total_quant"]')[0].innerText = quant;
        }
      });

      $('#list_total_' + map_form[form.id])[0].innerText = int_to_currency(cost);
    }

    function calc_total(){
      total = 0
      total += currency_to_int($('#list_total_staff')[0].innerText)
      total += currency_to_int($('#list_total_car')[0].innerText)
      total += currency_to_int($('#list_total_machine')[0].innerText)
      total += currency_to_int($('#list_total_lease')[0].innerText)
      total += currency_to_int($('#list_total_trash')[0].innerText)
      total += currency_to_int($('#list_total_transport')[0].innerText)
      total += currency_to_int($('#list_total_valuable')[0].innerText)
      total += currency_to_int($('#list_total_other')[0].innerText)

      $('#total')[0].innerText = int_to_currency(total);
    }

    function add_new_row(options, tbody){
      html = ""
      html += '<tr>'
      html += '<td><select class="form-select">'
      html += '<option value="">--選択してください--</option>'
      options.forEach(o => {
        html += `<option value="${o['cost']}">${o['name']}</option>`
      });
      html += '</td>'
      html += '<td><input type="text" oninput="re_calc(this)" class="form-control text-end"></td>'
      html += '<td><input type="text" oninput="re_calc(this)" class="form-control text-end"></td><td class="text-end">0</td>'
      html += '</tr>'
      $(tbody).append(html);
    }

    function add_new_row_no_select(tbody){
      html = ""
      html += '<tr>'
      html += '<td><input type="text" oninput="check_input(this)" class="form-control text-left"></td>'
      html += '<td><input type="text" oninput="re_calc(this)" class="form-control text-end"></td>'
      html += '<td><input type="text" oninput="re_calc(this)" class="form-control text-end"></td>'
      html += '<td class="text-end">0</td>'
      html += '</tr>'
      $(tbody).append(html);

    }

    function add_new_row_trash(){
      html = ""
      html += '<tr>'
      html += '<td><select class="form-select">'
      html += '<option value="">--選択してください--</option>'
      dests.forEach(o => {
        html += `<option value="${o['id']}">${o['name']}</option>`
      });
      html += '</td>'
      html += '<td><select class="form-select">'
      html += '<option value="">--選択してください--</option>'
      items.forEach(o => {
        html += `<option value="${o['id']}">${o['name']}</option>`
      });
      html += '</td>'
      html += '<td><input type="text" oninput="re_calc(this)" class="form-control text-end"></td>'

      html += '</td>'
      html += '<td><select class="form-select">'
        unit_type.forEach(o => {
        html += `<option value="${o['id']}">${o['name']}</option>`
      });
      html += '</td>'

      html += '<td><input type="text" oninput="re_calc(this)" class="form-control text-end"></td>'

      html += '<td class="text-end">0</td>'
      html += '</tr>'

      $('#trashlist').append(html);

    }

    function calc_staff_total(e){
      cost = Number(e.parentElement.parentElement.children[2].textContent)
      staff_total = document.getElementById('staff_total')
      staff_total_cost = document.getElementById('staff_total_cost')

      current_total = Number(staff_total.textContent)
      current_total_cost = currency_to_int(staff_total_cost.textContent)
      if (e.checked == true){
        staff_total.textContent = current_total + 1;
        total_cost = current_total_cost + cost;
      } else {
        staff_total.textContent = current_total - 1;
        total_cost = current_total_cost - cost;
      }

      staff_total_cost.textContent = int_to_currency(total_cost);

      $('#list_total_staff')[0].innerText = int_to_currency(total_cost);
    }

    $(function($) {
      $('html').on('focus', 'select', function(e) {
        pre_cost = Number(e.target.parentElement.parentElement.children[3].innerText)
        pre_quant = Number(e.target.parentElement.parentElement.children[2].childNodes[0].value)
      }).on('change', 'select', function(e) {
        table = e.target.closest('tbody')
        row_count = Number(e.target.parentElement.parentElement.parentElement.childElementCount)
        current_row = Number(e.target.parentElement.parentElement.rowIndex)

        if (table.id == 'trashlist'){

          dest_id = e.target.closest('tr').children[0].children[0].value
          item_id = e.target.closest('tr').children[1].children[0].value

          if (dest_id == "" || item_id == ""){
            return
          }
          
          $.ajax({
            url: `/master/trash/${dest_id}/${item_id}`,
            type: 'GET',
            dataType: 'json',
            // フォーム要素の内容をハッシュ形式に変換
            data: {},
            timeout: 5000,
          })
          .done(function(data) {
            e.target.closest('tr').children[2].children[0].value = data.cost
            e.target.closest('tr').children[3].children[0].value = data.unit_type
            if (e.target.closest('tr').children[4].children[0].value == ''){
              e.target.closest('tr').children[4].children[0].value = 1
            }

            calc_row_total(e.target.parentElement.parentElement, e.target.parentElement.parentElement.parentElement, 2, 5, 4)
            calc_form_total(e.target.closest('form'), e.target.parentElement.parentElement.parentElement, 5)

            if (current_row == row_count && cost > 0) {
              add_new_row_trash();
            }
          })
          .fail(function(data) {
              // 該当無しの場合は、行追加のみ
          });
        } else {

          if (e.target.parentElement.parentElement.children[2].childNodes[0].value == ''){
            quant = 1
          } else {
            quant = Number(e.target.parentElement.parentElement.children[2].childNodes[0].value)
          }
          cost = Number(e.target.value)

          e.target.parentElement.parentElement.children[1].childNodes[0].value = cost;
          e.target.parentElement.parentElement.children[2].childNodes[0].value = quant;

          calc_row_total(e.target.parentElement.parentElement, e.target.parentElement.parentElement.parentElement, 1, 3, 2)
          calc_form_total(e.target.closest('form'), e.target.parentElement.parentElement.parentElement, 3, 2)

          if (current_row == row_count && cost > 0) {
            add_new_row(map_master[table.id], table);
          }
        }

        // フォーカスを外さないと、同じ要素を連続でselectしたときにfocusイベントが動かない
        document.activeElement.blur();
      });
    });

    function check_input(e){
      row_count = Number(e.parentElement.parentElement.parentElement.childElementCount)
      current_row = Number(e.parentElement.parentElement.rowIndex)
      table = e.closest('tbody')
      if (current_row == row_count && e.value != '') {
        add_new_row_no_select(table);
      }
    }

    function register(e){
      $(`#invalid-feedback-worksite_name`)[0].innerText = '';
      $(`#invalid-feedback-date`)[0].innerText = '';
      event.preventDefault();

      // 入力チェック
      // 日報ヘッダ情報
      if ($('#txt_worksite')[0].value == ''){
        $(`#invalid-feedback-worksite_name`)[0].innerText = '工事名を入力してください';
        alert('工事名を入力してください')
        return;
      } else {
        worksite = $('#txt_worksite')[0].value;
      };

      if ($('#date')[0].value == ''){
        $(`#invalid-feedback-date`)[0].innerText = '工事日を選択してください';
        alert('工事日を選択してください')
        return;
      } else {
        workdate = $('#date')[0].value;
      };

      staff_input = get_staff_input()
      car_input = get_car_input()
      machine_input = get_machine_input()
      lease_input = get_lease_input()
      transport_input = get_transport_input()
      valuable_input = get_valuable_input()
      other_input = get_other_input()
      trash_input = get_trash_input()
      
      // Ajax通信を開始
      $.ajax({
        url: `/daily_report/${worksite}/${workdate}`,
        type: 'POST',
        dataType: 'application/json',
        data: {
          'staff': JSON.stringify(staff_input),
          'car': JSON.stringify(car_input),
          'machine': JSON.stringify(machine_input),
          'lease': JSON.stringify(lease_input),
          'transport': JSON.stringify(transport_input),
          'valuable': JSON.stringify(valuable_input),
          'other': JSON.stringify(other_input),
          'trash': JSON.stringify(trash_input)
        },
        timeout: 5000,
      })
      .done(function(data) {
          // 通信成功時の処理を記述

        })
      .fail(function(data) {
          // 通信失敗時の処理を記述
      });
    };

    function get_staff_input(){
      values = {}
      Array.from($('#stafflist')[0].children).forEach(tr => {
        if(tr.children[0].children[0].checked == true){
          values[tr.children[1].innerText] = tr.children[2].innerText;
        };
      });
      return values
    }

    function get_car_input(){
      values = []
      Array.from($('#carlist')[0].children).forEach(tr => {
        name = tr.children[0].children[0].selectedOptions[0].innerText;
        if(name == ''){return};
        cost = tr.children[1].children[0].value;
        if(cost == ''){return};
        quant = tr.children[2].children[0].value;
        if(quant == ''){return};
        d = {
          'name': name,
          'cost': cost,
          'quant': quant
        }
        values.push(d);
      });
      return values
    }

    function get_lease_input(){
      values = []
      Array.from($('#leaselist')[0].children).forEach(tr => {
        name = tr.children[0].children[0].selectedOptions[0].innerText;
        if(name == ''){return};
        cost = tr.children[1].children[0].value;
        if(cost == ''){return};
        quant = tr.children[2].children[0].value;
        if(quant == ''){return};
        d = {
          'name': name,
          'cost': cost,
          'quant': quant
        }
        values.push(d);
      });
      return values
    }

    function get_machine_input(){
      values = []
      Array.from($('#machinelist')[0].children).forEach(tr => {
        name = tr.children[0].children[0].selectedOptions[0].innerText;
        if(name == ''){return};
        cost = tr.children[1].children[0].value;
        if(cost == ''){return};
        quant = tr.children[2].children[0].value;
        if(quant == ''){return};
        d = {
          'name': name,
          'cost': cost,
          'quant': quant
        }
        values.push(d);
      });
      return values
    }

    function get_transport_input(){
      values = []
      Array.from($('#transportlist')[0].children).forEach(tr => {
        name = tr.children[0].children[0].value;
        if(name == ''){return};
        cost = tr.children[1].children[0].value;
        if(cost == ''){return};
        quant = tr.children[2].children[0].value;
        if(quant == ''){return};
        d = {
          'name': name,
          'cost': cost,
          'quant': quant
        }
        values.push(d);
      });
      return values
    }

    function get_valuable_input(){
      values = []
      Array.from($('#valuablelist')[0].children).forEach(tr => {
        name = tr.children[0].children[0].value;
        if(name == ''){return};
        cost = tr.children[1].children[0].value;
        if(cost == ''){return};
        quant = tr.children[2].children[0].value;
        if(quant == ''){return};
        d = {
          'name': name,
          'cost': cost,
          'quant': quant
        }
        values.push(d);
      });
      return values
    }

    function get_other_input(){
      values = []
      Array.from($('#otherlist')[0].children).forEach(tr => {
        name = tr.children[0].children[0].value;
        if(name == ''){return};
        cost = tr.children[1].children[0].value;
        if(cost == ''){return};
        quant = tr.children[2].children[0].value;
        if(quant == ''){return};
        d = {
          'name': name,
          'cost': cost,
          'quant': quant
        }
        values.push(d);
      });
      return values
    }

    function get_trash_input(){
      values = []
      Array.from($('#trashlist')[0].children).forEach(tr => {
        dest = tr.children[0].children[0].selectedOptions[0].innerText;
        if(dest == ''){return};
        item = tr.children[1].children[0].selectedOptions[0].innerText;
        if(item == ''){return};
        cost = tr.children[2].children[0].value;
        if(cost == ''){return};
        unit_type = tr.children[3].children[0].value;
        if(unit_type == ''){return};
        quant = tr.children[4].children[0].value;
        if(quant == ''){return};
        d = {
          'dest': dest,
          'item': item,
          'cost': cost,
          'unit_type': unit_type,
          'quant': quant
        }
        values.push(d);
      });
      return values
    }


  </script>


{% endblock %}
