{% extends "base.html" %}

{% block title %}未ログイン{% endblock %}
{% block base_head %}
{% endblock %}

{% block base_body %}
<div class="text-center">
  <main class="app-form w-100 m-auto">
    <form name="login_form">
      <h1 class="h3 mb-3 fw-normal">認証情報有効期限切れ</h1>
      <h1 class="h3 mb-3 fw-normal">再度ログインが必要です</h1>
      <div>
        <span id='rtn-message'>5 秒後に自動でログイン画面に移動します。</span>
      </div>
      自動で戻らない場合→<a href="/">ログイン画面に戻る</a>
      
    </form>
  </main>
  <script>
    timerID = setInterval('clock()',1000); //1秒毎にclock()を実行
    seconds = 0
    function clock() {
      seconds += 1
      $('#rtn-message')[0].innerText = `${5 - seconds} 秒後に自動でログイン画面に移動します。`;
      setTimeout(() => clearInterval(timerID), 5000)
      if (5 - seconds == 0){
        window.location.href = '/'
      };
    }
    
  </script>
</div>
{% endblock %}
