{% extends "base.html" %}
{% block title %}マスタ管理{% endblock %}

{% block body %}

    
    <div class="container">
    <div class="d-flex align-items-start">
      <div class="nav flex-column nav-pills flex-shrink-0 me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <!--
        <button type="button" class="nav-link active" id="v-pills-car-tab" data-bs-toggle="pill" data-bs-target="#v-pills-car" role="tab" aria-controls="v-pills-car" aria-selected="true">車両</button>
        <button type="button" class="nav-link" id="v-pills-staff-tab" data-bs-toggle="pill" data-bs-target="#v-pills-staff" role="tab" aria-controls="v-pills-staff" aria-selected="false">人員</button>
        <button type="button" class="nav-link" id="v-pills-machine-tab" data-bs-toggle="pill" data-bs-target="#v-pills-machine" role="tab" aria-controls="v-pills-machine" aria-selected="false">重機</button>
        <button type="button" class="nav-link" id="v-pills-lease-tab" data-bs-toggle="pill" data-bs-target="#v-pills-lease" role="tab" aria-controls="v-pills-lease" aria-selected="false">リース</button>
        <button type="button" class="nav-link" id="v-pills-trash-tab" data-bs-toggle="pill" data-bs-target="#v-pills-trash" role="tab" aria-controls="v-pills-trash" aria-selected="false">廃材(処分先別)</button>
        <button type="button" class="nav-link" id="v-pills-customer-tab" data-bs-toggle="pill" data-bs-target="#v-pills-customer" role="tab" aria-controls="v-pills-customer" aria-selected="false">受注先</button>
        <button type="button" class="nav-link" id="v-pills-dest-tab" data-bs-toggle="pill" data-bs-target="#v-pills-dest" role="tab" aria-controls="v-pills-dest" aria-selected="false">処分先</button>
        <button type="button" class="nav-link" id="v-pills-items-tab" data-bs-toggle="pill" data-bs-target="#v-pills-items" role="tab" aria-controls="v-pills-items" aria-selected="false">品名</button>
        -->
        {% for k, v in menu.items() %}
        <button type="button" class="nav-link" id="v-pills-{{k}}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{k}}" role="tab" aria-controls="v-pills-{{k}}" aria-selected="false">{{v.menu_name}}</button>
        {% endfor %}
      </div>
      <div class="container">
      <div class="tab-content" id="v-pills-tabContent">
        {% for k, v in menu.items() %}
        <div class="tab-pane fade" id="v-pills-{{k}}" role="tabpanel" aria-labelledby="v-pills-{{k}}-tab" tabindex="0">
          <div id="tab-{{k}}">
            <div class="container">
              <div class="py-5 text-center">
                <h2>{{v.menu_name}}管理</h2>
              </div>
              
              <form id="{{k}}RegForm">
              </form>

              <form id="{{k}}Form">
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      </div>
    </div>
    </div>
    <script>
      var current_tab = '';
      var loaded = false;
      const table_name = {
        'v-pills-staff-tab': 'staff',
        'v-pills-car-tab': 'car',
        'v-pills-machine-tab': 'machine',
        'v-pills-lease-tab': 'lease',
        'v-pills-trash-tab': 'trash',
        'v-pills-customer-tab': 'customer',
        'v-pills-dest-tab': 'dest',
        'v-pills-items-tab': 'items',
        'v-pills-work-tab': 'work'
      };

      const reg_btn_name = {
        'reg_btn_staff': 'staff',
        'reg_btn_car': 'car',
        'reg_btn_machine': 'machine',
        'reg_btn_lease': 'lease',
        'reg_btn_trash': 'trash',
        'reg_btn_customer': 'customer',
        'reg_btn_dest': 'dest',
        'reg_btn_items': 'items',
        'reg_btn_work': 'work'
      };

      const form_name = {
        'staffForm': 'staff',
        'carForm': 'car',
        'machineForm': 'machine',
        'leaseForm': 'lease',
        'trashForm': 'trash',
        'customerForm': 'customer',
        'destForm': 'dest',
        'itemsForm': 'items',
        'workForm': 'work'
      };

      {% autoescape off %}
      menu = {{menu}}
      {% endautoescape %}
      
      for (let key in menu) {
        document.getElementById(`v-pills-${key}-tab`).addEventListener('click', tab_select, false);
      };

      function complete_change(e){
        if(e.checked){
          e.closest('tr').children[5].children[0].disabled = '';
        } else {
          e.closest('tr').children[5].children[0].disabled = 'disabled';
        }
      }

      document.addEventListener('DOMContentLoaded', function(){
        loaded = true;
      });

      window.addEventListener('unload',function(){
        loaded = false;
      });

      function complete_change_view(e){
        // 画面読み込み中の設定でイベントが走るのを防止
        if (!loaded){
          return 0;
        };

        // 登録フォームとは逆の動き。
        // 日付を入力して完了チェックすることで、完了を登録し、完了日付のみの変更は不可。
        if(e.checked){
          if (e.closest('tr').children[7].children[0].value == ''){
            alert('完了日付を入力してください');
            e.checked = false;
            return;
          }
          e.closest('tr').children[7].children[0].disabled = 'disabled';
        } else {
          confirm_yes = window.confirm('工事完了を取り消します。完了日もクリアされます。よろしいですか？');
          if(!confirm_yes){
            e.checked = true;
            return 0;
          };
          e.closest('tr').children[7].children[0].disabled = '';
          e.closest('tr').children[7].children[0].value = '';
        }
        // Ajax通信を開始
        $.ajax({
          url: `/master/work/complete`,
          type: 'POST',
          dataType: 'json',
          data: {
            values: {
              'worksite_name': e.closest('tr').children[2].innerText,
              'completed_date': e.closest('tr').children[7].children[0].value
            }
          },
          timeout: 5000,
        })
        .done(function(data) {
        })
        .fail(function(data) {
        });
      }

      function tab_select(e){
        if (current_tab == e.target.id) {
            return 0;
        };
        // 変更前のタブをクリア(formの中身をidで取得（種別によらず共通のIdとする）するため、削除しないと重複する)
        $(`#${table_name[current_tab]}RegForm`).html("");
        $(`#${table_name[current_tab]}Form`).html("");

        current_tab = e.target.id;
        type = table_name[e.target.id]
        // Ajax通信を開始
        $.ajax({
          url: `/master/${type}`,
          type: 'GET',
          dataType: 'json',
          // フォーム要素の内容をハッシュ形式に変換
          data: {},
          timeout: 5000,
        })
        .done(function(data) {
          // 通信成功時の処理を記述
          // 登録フォーム
          if (type == 'work'){
            // 工事管理のみ形式が異なるため、別処理
            $(`#${type}RegForm`).html("");
            $(`#${type}RegForm`).append(`<table class="table">`);
            $(`#${type}RegForm`).append('</table>');

            $(`#${type}RegForm table`).append(`<thead>`);
            $(`#${type}RegForm table`).append(`</thead>`);

            $(`#${type}RegForm table thead`).append(`<tr>`);
            $(`#${type}RegForm table thead`).append(`</tr>`);
            Object.keys(data.response.col_definitions).forEach(function(key) {
              if (data.response.col_definitions[key]['readonly'] == true){
                return;
              }
              $(`#${type}RegForm table thead tr`).append('<th>' + data.response.col_definitions[key]['colname'] + '</th>');
            });

            $(`#${type}RegForm table`).append(`<tbody>`);
            $(`#${type}RegForm table`).append(`</tbody>`);

            $(`#${type}RegForm table tbody`).append(`<tr>`);
            $(`#${type}RegForm table tbody`).append(`</tr>`);

            Object.keys(data.response.col_definitions).forEach(function(key) {
              if (data.response.col_definitions[key]['readonly'] == true){
                return;
              }
              if (data.response.col_definitions[key]['type'] == 'select'){
                $(`#${type}RegForm table tbody tr`).append(`<td><select class="form-select" id="${key}" required></td>`);
                
                data.response.col_definitions[key]['selections'].forEach(function(s) {
                  $(`#${key}`).append(`<option value="${s.id}">${s.name}</option>`);
                })
              } else if (data.response.col_definitions[key]['type'] == 'boolean'){
                $(`#${type}RegForm table tbody tr`).append(`<td><div class="form-check form-switch">
                  <input type="checkbox" class="form-check-input" id="${key}" role="switch" onclick="complete_change(this)"></div></td>`);
              } else if (data.response.col_definitions[key]['type'] == 'date'){
                $(`#${type}RegForm table tbody tr`).append(`<td><input type="date" class="form-control" id="${key}" placeholder="" value="" disabled="disabled"></td>`);
              } else {
                $(`#${type}RegForm table tbody tr`).append(`<td><input type="text" class="form-control" id="${key}" placeholder="" value="" required></td>`);
              }
            });
            $(`#${type}RegForm table tbody tr`).append(`<td><button id="reg_btn" class="btn btn-primary" type="submit">登録</button></td>`);
            $(`#${type}RegForm`).append(`<div id="message_${type}" class="text-danger"></div>`);
            $(`#${type}RegForm`).append(`<div id="result_${type}"></div>`);
            
            // 一覧フォーム
            $(`#${type}data`).html("");
            $(`#${type}Form`).append(`<table class="table">`);
            $(`#${type}Form`).append('</table>');

            $(`#${type}Form table`).append(`<thead>`);
            $(`#${type}Form table`).append(`</thead>`);

            $(`#${type}Form table thead`).append(`<tr>`);
            $(`#${type}Form table thead`).append(`</tr>`);
            $(`#${type}Form table thead tr`).append('<th>' + '#' + '</th>');
            $(`#${type}Form table thead tr`).append('<th>' + 'id' + '</th>');
            Object.keys(data.response.col_definitions).forEach(function(key) {
              if (data.response.col_definitions[key]['readonly'] == true){
                return;
              }
              $(`#${type}Form table thead tr`).append('<th scope="col">' + data.response.col_definitions[key]['colname'] + '</th>');
            });

            $(`#${type}Form table`).append(`<tbody id="${type}_data">`);
            $(`#${type}Form table`).append(`</tbody>`);

            data.response.col_values.forEach(function(elem, index) {
              $(`#${type}_data`).append(`<tr id=${type}${elem.id}>`);
              $(`#${type}_data`).append('</tr>');
              $(`#${type}${elem.id}`).append('<th scope="row"></th>');
              Object.keys(elem).forEach(function(key) {
                if(key == 'complete'){
                  if (elem[key]){
                    checked = 'checked';
                  } else {
                    checked = '';
                  }
                  $(`#${type}${elem.id}`).append(`<td><div class="form-check form-switch"><input type="checkbox" class="form-check-input" id="${key}" role="switch" ${checked} onclick="complete_change_view(this)"></div></td>`);
                } else if(key == 'completed_date') {
                  if (checked){
                    $(`#${type}${elem.id}`).append(`<td><input type="date" class="form-control" id="${key}" value=${elem[key]} disabled="disabled"></td>`);
                  } else {
                    $(`#${type}${elem.id}`).append(`<td><input type="date" class="form-control" id="${key}" value=${elem[key]}></td>`);
                  }
                } else {
                  $(`#${type}${elem.id}`).append('<td>' + elem[key] + '</td>');
                }
              });
            });
            document.getElementById(`reg_btn`).addEventListener('click', register, false);

          } else {

            // 工事管理以外
            $(`#${type}RegForm`).html("");
            $(`#${type}RegForm`).append(`<table class="table">`);
            $(`#${type}RegForm`).append('</table>');

            $(`#${type}RegForm table`).append(`<thead>`);
            $(`#${type}RegForm table`).append(`</thead>`);

            $(`#${type}RegForm table thead`).append(`<tr>`);
            $(`#${type}RegForm table thead`).append(`</tr>`);
            Object.keys(data.response.col_definitions).forEach(function(key) {
              if (data.response.col_definitions[key]['readonly'] == true){
                return;
              }
              $(`#${type}RegForm table thead tr`).append('<th>' + data.response.col_definitions[key]['colname'] + '</th>');
            });

            $(`#${type}RegForm table`).append(`<tbody>`);
            $(`#${type}RegForm table`).append(`</tbody>`);

            $(`#${type}RegForm table tbody`).append(`<tr>`);
            $(`#${type}RegForm table tbody`).append(`</tr>`);

            Object.keys(data.response.col_definitions).forEach(function(key) {
              if (data.response.col_definitions[key]['readonly'] == true){
                return;
              }
              if (data.response.col_definitions[key]['type'] == 'select'){
                $(`#${type}RegForm table tbody tr`).append(`<td><select class="form-select" id="${key}" required></td>`);
                
                data.response.col_definitions[key]['selections'].forEach(function(s) {
                  $(`#${key}`).append(`<option value="${s.id}">${s.name}</option>`);
                })
              } else if (data.response.col_definitions[key]['type'] == 'boolean'){
                $(`#${type}RegForm table tbody tr`).append(`<td><div class="form-check form-switch"><input type="checkbox" class="form-check-input" id="${key}" role="switch"></div></td>`);
              } else if (data.response.col_definitions[key]['type'] == 'date'){
                $(`#${type}RegForm table tbody tr`).append(`<td><input type="date" class="form-control" id="${key}" placeholder="" value=""></td>`);
              } else {
                $(`#${type}RegForm table tbody tr`).append(`<td><input type="text" class="form-control" id="${key}" placeholder="" value="" required></td>`);
              }
            });
            $(`#${type}RegForm table tbody tr`).append(`<td><button id="reg_btn" class="btn btn-primary" type="submit">登録</button></td>`);
            $(`#${type}RegForm`).append(`<div id="message_${type}" class="text-danger"></div>`);
            $(`#${type}RegForm`).append(`<div id="result_${type}"></div>`);
            
            // 一覧フォーム
            $(`#${type}data`).html("");
            $(`#${type}Form`).append(`<table class="table">`);
            $(`#${type}Form`).append('</table>');

            $(`#${type}Form table`).append(`<thead>`);
            $(`#${type}Form table`).append(`</thead>`);

            $(`#${type}Form table thead`).append(`<tr>`);
            $(`#${type}Form table thead`).append(`</tr>`);
            $(`#${type}Form table thead tr`).append('<th>' + '#' + '</th>');
            $(`#${type}Form table thead tr`).append('<th>' + 'id' + '</th>');
            Object.keys(data.response.col_definitions).forEach(function(key) {
              if (data.response.col_definitions[key]['readonly'] == true){
                return;
              }
              $(`#${type}Form table thead tr`).append('<th scope="col">' + data.response.col_definitions[key]['colname'] + '</th>');
            });

            $(`#${type}Form table`).append(`<tbody id="${type}_data">`);
            $(`#${type}Form table`).append(`</tbody>`);

            data.response.col_values.forEach(function(elem, index) {
              $(`#${type}_data`).append(`<tr id=${type}${elem.id}>`);
              $(`#${type}_data`).append('</tr>');
              $(`#${type}${elem.id}`).append('<th scope="row"></th>');
              Object.keys(elem).forEach(function(key) {
                if(key == 'complete'){
                  if (elem[key]){
                    checked = 'checked';
                  } else {
                    checked = '';
                  }
                  $(`#${type}${elem.id}`).append(`<td><div class="form-check form-switch"><input type="checkbox" class="form-check-input" id="${key}" role="switch" ${checked}></div></td>`);
                } else if(key == 'completed_date') {
                  $(`#${type}${elem.id}`).append(`<td><input type="date" class="form-control" id="${key}" value=${elem[key]}></td>`);
                } else {
                  $(`#${type}${elem.id}`).append('<td>' + elem[key] + '</td>');
                }
              });
              $(`#${type}${elem.id}`).append('<td><button id="del_btn" onclick="removeList(this);" class="btn btn-danger" type="submit">削除</button></td>');
            });
            document.getElementById(`reg_btn`).addEventListener('click', register, false);
          }
        })
        .fail(function(data) {
            // 通信失敗時の処理を記述
            $(`#result_${type}`).innerText = '通信失敗'
        });
      };

      function register(e){
        $(`#result_${type}`).innerText = ''
        event.preventDefault();
        type = table_name[current_tab]
        form = document.getElementById(`${type}RegForm`);
        values = {}

        if(type=='work'){
          // 工事名のみ必須入力
          if (form[0].value == ''){
            $(`#message_${type}`).text('工事名を入力してください');
            return 0;
          };

          for (var i = 0, iLen = form.length; i < iLen; i++) {
            if(form[i].localName == 'input'){
              if (form[i].id == 'complete'){
                values[form[i].id] = [form[i].checked]
              }else{
                values[form[i].id] = [form[i].value]
              }
            } else if(form[i].localName == 'select'){
              values[form[i].id] = [form[i].value, form[i].selectedOptions[0].innerText]
            }
          }

        } else {
          // values = {col_id: [id,name]} or {col_id: [name]}
          // POSTしてDBに登録する際は、常に0番目の要素を参照すればよい。登録後、画面の一覧に追加するとき、
          // 1番目の要素があればこれを、なければ0番目要素を表示する。
          for (var i = 0, iLen = form.length; i < iLen; i++) {
            if(form[i].localName == 'input'){
              if (form[i].value == ''){
                $(`#message_${type}`).text(form.children[0].tHead.rows[0].cells[i].innerText + 'を入力してください');
                return 0;
              };
              values[form[i].id] = [form[i].value]
            } else if(form[i].localName == 'select'){
              if (form[i].value == ''){
                $(`#message_${type}`).text(form.children[0].tHead.rows[0].cells[i].innerText + 'を選択してください');
                return 0;
              };
              values[form[i].id] = [form[i].value, form[i].selectedOptions[0].innerText]
            }
          }
        }

        // postのパラメータ用に変換
        param = {}
        Object.keys(values).forEach(function(key) {
          // selectの場合0番目にはid,1番目に表示名が入っているため、常に一番後ろの要素を取得する。
          param[key] = values[key][0];
        });
        
        // Ajax通信を開始
        $.ajax({
          url: `/master/${type}`,
          type: 'POST',
          dataType: 'json',
          data: {
            values: param
          },
          timeout: 5000,
        })
        .done(function(data) {
            // 通信成功時の処理を記述
            $(`#${type}_data`).append(`<tr id=${type}${data.new_id}>`);
            $(`#${type}_data`).append('</tr>');
            $(`#${type}${data.new_id}`).append('<th scope="row"></th>');
            $(`#${type}${data.new_id}`).append('<td>' + data.new_id + '</td>');
            Object.keys(values).forEach(function(key) {
                // selectの場合0番目にはid,1番目に表示名が入っているため、常に一番後ろの要素を取得する。
                $(`#${type}${data.new_id}`).append('<td>' + values[key][values[key].length - 1] + '</td>');
            });
            $(`#${type}${data.new_id}`).append('<td><button id="del_btn" onclick="removeList(this);" class="btn btn-danger" type="submit">削除</button></td>');
            $(`#message_${type}`).text('');
          })
        .fail(function(data) {
            // 通信失敗時の処理を記述
            $(`#message_${type}`).text(data.responseJSON.message);
        });
      };

      function removeList(obj) {
        $(`#result_${type}`).innerText = ''
        event.preventDefault();
        type = form_name[obj.form.id]
        form = document.getElementById(`${type}_data`);
      // objの親の親のノードを取得し（つまりtr要素）、変数「tr」に代入
        var tr = obj.parentNode.parentNode;
        id = tr.children[1].innerHTML;
        $.ajax({
          url: `/master/${type}`,
          type: 'DELETE',
          dataType: 'json',
          data: {
              'id': id
          },
          timeout: 5000,
        })
        .done(function(data) {
            // 通信成功時の処理を記述
            // 「tbody」の子ノード「tr」を削除
            form.removeChild(tr); 
          })
        .fail(function(data) {
            // 通信失敗時の処理を記述
            $(`#result_${type}`).innerText = '通信失敗'
        });
      };
    </script>

{% endblock %}
