{% extends "base.html" %}

{% block title %}サインインページ{% endblock %}
{% block base_head %}
{% endblock %}

{% block base_body %}
<div class="text-center">
  <main class="app-form w-100 m-auto">
    <form name="form">
      <h1 class="h3 mb-3 fw-normal">日報管理アプリ</h1>
      <h1 class="h3 mb-3 fw-normal">サインイン</h1>

      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
          <div class="form-floating mb-2">
            <input type="text" class="form-control" id="accountId" placeholder="ID" required>
            <label for="accountId">会社ID</label>
          </div>
          <div class="form-floating mb-2">
            <input type="text" class="form-control" id="floatingInput" placeholder="ID" required>
            <label for="floatingInput">ID</label>
          </div>
          <div class="form-floating mb-2">
            <input type="password" class="form-control" id="floatingPassword" placeholder="パスワード" required>
            <label for="floatingPassword">パスワード</label>
          </div>
          <div id="result"></div>
    
          <div class="form-check mb-3">
            <label>
              <input type="checkbox" value="remember-me"> 状態を記憶する
            </label>
          </div>
          <button id="btn_sign_in" class="w-100 btn btn-lg btn-primary" type="submit">サインイン</button>
          <a href="/sign_up">新規登録</a>
          <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
        </div>
      </div>
    </form>
  </main>
  <script>
    var btn = document.getElementById('btn_sign_in');
    var result = document.getElementById('result');

    btn.addEventListener('click', function(){
      var url = `/token`;
      if ( document.form.accountId.value != "" ){
        url += `/account/${document.form.accountId.value}`;
      }
      
      event.preventDefault();
      const req_data = {
        'username': document.form.floatingInput.value,
        'password': document.form.floatingPassword.value
      };
      const headers = { 'X-CSRF-Token': '{{ csrf_token }}' };
      // OAuth2PasswordRequestFormを利用するため、JSONは受け付けられない
      callApiFromForm(url, req_data, 'POST', headers)
      // callApi(url, req_data, 'POST', headers)
      .done(function(data) {
          const account_name = data.account_name ?? '会社名未選択（ゲスト機能のみ利用可）'
          document.cookie = `account_name=${account_name}`;
          document.cookie = `user_name=${data.user_name}`;
          window.location.href = "/home?ver=1.0"
      })
      .fail(function(data) {
          result.innerHTML = `<div class="alert alert-danger" role="alert">${data.responseJSON.detail}</div>`;
      });
    })

  </script>
</div>
{% endblock %}
